'use strict'

var config = {
	database : {
		host     : DATABASE_HOST,
		user     : DATABASE_USER,
		password : DATABASE_PASSWORD,
		database : DATABASE_NAME
	}
	host: HOST,
	port: PORT
}

module.exports = config;
